.container{
    background-color: blue;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
}

.closeButton{
    border: 0px;
    background-color: red;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}